<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>

    <!-- Link css -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">

    <!-- Link js -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/esm/popper.min.js"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="d-inline-block mx-auto my-auto">
    <div class="p-4 container-fluid bg-primary text-white">
        <h3>Selamat Datang di SIPESAWAT!</h3>
    </div>

    <div class="container-fluid justify-content-center">
        <h4 class="d-flex">Daftar Fitur:</h4>
        <div class="d-flex">
            <div class="m-3 p-2 bd-highlight bg-primary">
                <td><a th:href="@{/pesawat}">Pesawat</a></td>
            </div>
            <div class="m-3 p-2 bd-highlight bg-primary">Penerbangan</div>
            <div class="m-3 p-2 bd-highlight bg-primary">Cari</div>
            <div class="m-3 p-2 bd-highlight bg-primary">Filter</div>
        </div>
    </div>
</div>
</body>
</html>