<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Beranda</title>

    <!-- Link css -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">

    <link rel="stylesheet" th:href="@{/css/custom.css}">

    <!-- Link js -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/esm/popper.min.js"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>

<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="container align-items-center">

    <div class="card justify-content-center rounded bg-primary text-white
                my-5 py-5">
            <div class="card-body">
                <h2 class="text-center"> Selamat Datang di SIPESAWAT! </h2>
            </div>
    </div>

    <div class="d-flex justify-content-center my-3">
        <h4>Daftar Fitur:</h4>
    </div>

    <div class="row justify-content-center">
        <div class="col-sm-2">
            <a th:href="@{/pesawat}" role="button"
               class="btn btn-link btn-primary btn-lg btn-block">Pesawat</a>
        </div>
        <div class="col-sm-2">
            <a th:href="@{/penerbangan}" role="button"
               class="btn btn-link btn-primary btn-lg btn-block">Penerbangan</a>
        </div>
        <div class="col-sm-2">
            <a th:href="@{/pesawat/pesawat-tua}" role="button"
               class="btn btn-link btn-primary btn-lg btn-block">Cari</a>
        </div>
        <div class="col-sm-2">
            <a th:href="@{/filter}" role="button"
               class="btn btn-link btn-primary btn-lg btn-block">Filter</a>
        </div>
        <div class="col-sm-2">
            <a th:href="@{/bonus}" role="button"
               class="btn btn-link btn-primary btn-lg btn-block">Bonus</a>
        </div>
    </div>
</div>
</body>
</html>