<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Form Tambah Pesawat</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="layout d-flex flex-column justify-content-center" style="padding:30px;">
    <div class="card" style="width:50%;align-self:center;">
        <h3 class="card-header bg-primary text-white text-center">Tambah Pesawat</h3>
        <div class="card-body bg-white">
            <form th:action="@{/pesawat/tambah}" th:object="${totalTeknisi}" method="POST">
                <div class="form-group">
                    <label for="maskapai">Maskapai:</label>
                    <input type="text" class="form-control" name="maskapai" id="maskapai" placeholder="Maskapai" required>
                </div>

                <div class="form-group">
                    <label for="time">Tanggal Dibuat:</label>
                    <input type="date" class="form-control" id="time" name="tanggalDibuat" required>
                </div>

                <div class="form-group">
                    <label for="tempat">Tempat Dibuat:</label>
                    <input type="text" class="form-control" name="tempatDibuat" id="tempat" placeholder="Kota, Negara" required>
                </div>

                <div class="form-group">
                    <label for="jenis">Jenis:</label>
                    <select name="jenisPesawat" id="jenis" class="form-control">
                        <option value="1" th:text="Komersial"></option>
                        <option value="2" th:text="Militer"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="tipe">Tipe:</label>
                    <select name="tipe" id="tipe" class="form-control">
                        <option th:each="tipe: ${listTipe}" th:value="${tipe.id}"
                                th:text="${tipe.nama}"></option>
                    </select>
                </div>
                <div th:each="teknisi, indexStat : *{listPesawatTeknisi}">
                    <label for="teknisi">Teknisi:</label>
                    <select name="teknisi" id="teknisi" class="form-control" th:field="*{listPesawatTeknisi[__${indexStat.index}__].teknisi}">
                        <option th:each="teknisi: ${listTeknisi}" th:value="${teknisi.id}"
                                th:text="${teknisi.nama}"></option>
                    </select>
                    <button type="submit" name="removeOption"
                            th:value="${indexStat.index}" class="btn btn-sm btn-outline-danger"> Hapus </button>
                </div>
                <br>
                <button type="submit" class="btn btn-info" name="addOption">Tambah Teknisi</button>
                <button type="submit" name="save" class="btn btn-success">Simpan</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>